@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Teko", sans-serif;
  background-color: #0a1930;
}

.btn {
  cursor: pointer;
  color: #49bca7;
  padding: 0.2rem 1rem;
  font-size: 0.9rem;
  border-radius: 0.15rem;
  font-weight: lighter;
  background-color: transparent;
  border: 0.15rem solid #49bca7;
  transition: 200ms;
}
.btn:hover {
  background-color: #7df0db63;
  color: #cbd6f6;
}

.title {
  display: flex;
  justify-content: start;
  align-items: center;
}
.title span{
  color: #49bca7;
  margin-right: .5rem;
}
.title h1{
  color: #cbd6f6;
}
.border {
  height: 2px;
  margin-left: 1rem;
  width: 200px;
  border-bottom: 2px solid #213454;
}
@media screen and (max-width: 768px) {
  .border{
    width: 200px;
  }
}
@media  screen and (max-width: 425px) {
  .title h1{
    font-size:1rem;
  }
  .border{
    width: 50px;
  }
}